@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

/* Colores:
Navbar: #232c38;
Mobile: #14191f; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.nav{
    background-color: #232c38;
    width: 100%;
    height: 80px;
    color: #fff;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

.nav__name{
    font-size: 1.5em;
}

.nav__menu{
    margin-bottom: -10px;
    width: 30px;
    height: 30px;
}

.nav__label, .check{
    display: none;
    cursor: pointer;
}

.nav__links{
    display: flex;
    list-style: none;
}

.link{
    margin: 0px 10px;
    padding: 5px 10px;
    background-color: #323f50;
    border-radius: 5px;
    font-size: 1em;
}

.link a{
    text-decoration: none;
    color: #fff;
}

@media (max-width: 750px){
    .nav{
        padding: 10px 30px;
    }
    .nav__name{
        font-size: 1.3em;
    }
    .nav__label{
        display: block;
    }
    .nav__links{
        background-color: #14191f;
        position: fixed;
        top: 80px;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 90px 0px;
        transform: translateX(-100%);
        transition: 1s transform;
    }

    .check:checked + .nav__links{
        transform: translateX(0%);
    }
}